form {
    background-color: rgb(233, 109, 109);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
  }
  
  input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #060606;
    border-radius: 5px;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    background-color: #6e7ff3;
    color: rgb(247, 244, 244);
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #4c5cc8;
  }