<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='new.css') }}">
    
</head>
<body>
   <h1>Login in system in flask</h1> 
   <a href="{{url_for('login')}}">Login page</a><br>
   <a href="{{url_for('register')}}">Register page</a><br>
   <p>Don't have an user account? <a href="{{ url_for('register_user') }}">Register here</a>.</p>
</body>
</html>