<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ctt.css">
</head>
<body>
    <br>
    <br>
    <h2><center>Donate Food</center></h2>
        <form action="register.html" method="POST">
            <label for="event-name">Event Name</label>
            <input type="text" id="event-name" name="event-name" required placeholder="Enter your event name">

            <label for="food-type">Food Type</label>
            <input type="text" id="food-type" name="food-type" required placeholder="veg/non-veg">

            <label for="event-date">Event Date</label>
            <input type="date" id="event-date" name="event-date" required>
      
            <label for="event-location">Event Location</label>
            <input type="text" id="event-location" name="event-location" required placeholder="Enter event location">
      
            <label for="contact-info">Contact Info</label>
            <input type="email" id="contact-info" name="contact-info" required placeholder="Enter your contact info">
      
            <button type="submit" class="cta-btn">Submit Donation</button>
        </form>
    
</body>
</html>